<%= form_with(model: order) do |form| %>
  

  <div class="field">
    <%= form.label "Add the order file" %>
    <%= form.file_field :file %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
