// Place all the styles related to the Orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

// GET /orders
table{
    
    width: 100%;
    tbody {
        td {
            text-align: center;
        }
    }
}

h1{
    font-size: 20px;
    padding-right: 10px;
    color: #0066cc
} 
.div_title{
    display: flex;
    align-items: center;
    padding-bottom: 10px;
    .add_link{
        width: 20px;
        font-size: 16px;
        height: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        border-radius: 50%;
        background-color: #c6c6c6;
    }
    .add_link:hover{
        background-color: #0066cc;
    }
}

// POST 
form{
    input{
        display: flex;
        flex-direction: column;
        background-color: #0066cc;
        color: #fafafa;
        font-size: 12px;
        margin-top: 10px;
    }
}
